# -----------------------
# Node.js
# -----------------------
node_modules/
.next/
out/

# -----------------------
# Python
# -----------------------
venv/
__pycache__/
*.pyc

# -----------------------
# Environment Variables
# -----------------------
.env
.env.local

# -----------------------
# VS Code
# -----------------------
.vscode/

# -----------------------
# macOS
# -----------------------
.DS_Store

# -----------------------
# Windows
# -----------------------
Thumbs.db

# -----------------------
# Logs
# -----------------------
*.log

# -----------------------
# Build files
# -----------------------
dist/
build/

# -----------------------
# Coverage
# -----------------------
coverage/